In [16]:
import pandas as pd
import numpy as np
import ast 
import json
import time
import random

In [3]:
#makes a data frame of the reviews, minus the books

no_books_reviews_df = pd.read_csv('reviews (no books).csv')

In [5]:
#Generates a list of all book review files names

book_prefix='Book Reviews/reviews_books_'
book_review_files = []

for file_no in range(1,7140):
    book_review_files.append(book_prefix + str(file_no).zfill(4) + '.csv')

In [6]:
#Generates a list of data frames to concatenate

i = 0
book_concat_list=[]


for file in book_review_files:
    df = pd.read_csv(file)
    book_concat_list.append(df)
    i += 1
    
    if i % 100 == 0:
        print(file)

Book Reviews/reviews_books_0100.csv
Book Reviews/reviews_books_0200.csv
Book Reviews/reviews_books_0300.csv
Book Reviews/reviews_books_0400.csv
Book Reviews/reviews_books_0500.csv
Book Reviews/reviews_books_0600.csv
Book Reviews/reviews_books_0700.csv
Book Reviews/reviews_books_0800.csv
Book Reviews/reviews_books_0900.csv
Book Reviews/reviews_books_1000.csv
Book Reviews/reviews_books_1100.csv
Book Reviews/reviews_books_1200.csv
Book Reviews/reviews_books_1300.csv
Book Reviews/reviews_books_1400.csv
Book Reviews/reviews_books_1500.csv
Book Reviews/reviews_books_1600.csv
Book Reviews/reviews_books_1700.csv
Book Reviews/reviews_books_1800.csv
Book Reviews/reviews_books_1900.csv
Book Reviews/reviews_books_2000.csv
Book Reviews/reviews_books_2100.csv
Book Reviews/reviews_books_2200.csv
Book Reviews/reviews_books_2300.csv
Book Reviews/reviews_books_2400.csv
Book Reviews/reviews_books_2500.csv
Book Reviews/reviews_books_2600.csv
Book Reviews/reviews_books_2700.csv
Book Reviews/reviews_books_2800.csv
Book Reviews/reviews_books_2900.csv
Book Reviews/reviews_books_3000.csv
Book Reviews/reviews_books_3100.csv
Book Reviews/reviews_books_3200.csv
Book Reviews/reviews_books_3300.csv
Book Reviews/reviews_books_3400.csv
Book Reviews/reviews_books_3500.csv
Book Reviews/reviews_books_3600.csv
Book Reviews/reviews_books_3700.csv
Book Reviews/reviews_books_3800.csv
Book Reviews/reviews_books_3900.csv
Book Reviews/reviews_books_4000.csv
Book Reviews/reviews_books_4100.csv
Book Reviews/reviews_books_4200.csv
Book Reviews/reviews_books_4300.csv
Book Reviews/reviews_books_4400.csv
Book Reviews/reviews_books_4500.csv
Book Reviews/reviews_books_4600.csv
Book Reviews/reviews_books_4700.csv
Book Reviews/reviews_books_4800.csv
Book Reviews/reviews_books_4900.csv
Book Reviews/reviews_books_5000.csv
Book Reviews/reviews_books_5100.csv
Book Reviews/reviews_books_5200.csv
Book Reviews/reviews_books_5300.csv
Book Reviews/reviews_books_5400.csv
Book Reviews/reviews_books_5500.csv
Book Reviews/reviews_books_5600.csv
Book Reviews/reviews_books_5700.csv
Book Reviews/reviews_books_5800.csv
Book Reviews/reviews_books_5900.csv
Book Reviews/reviews_books_6000.csv
Book Reviews/reviews_books_6100.csv
Book Reviews/reviews_books_6200.csv
Book Reviews/reviews_books_6300.csv
Book Reviews/reviews_books_6400.csv
Book Reviews/reviews_books_6500.csv
Book Reviews/reviews_books_6600.csv
Book Reviews/reviews_books_6700.csv
Book Reviews/reviews_books_6800.csv
Book Reviews/reviews_books_6900.csv
Book Reviews/reviews_books_7000.csv
Book Reviews/reviews_books_7100.csv

In [7]:
#Concats a single book reviews dataframe

book_reviews_df = pd.concat(book_concat_list)

book_reviews_df['category'] = 'Books'

In [8]:
#concats books and no books review dataframes

concat_list = [no_books_reviews_df, book_reviews_df]

all_reviews = pd.concat(concat_list)

In [9]:
#creates list of all file names containing the meta data

meta_list = []

# apps
prefix='Metadata/meta_Apps_for_Android_file'
for file_no in range(1,2):
    meta_list.append(prefix + str(file_no).zfill(4) + '.csv')

#books
prefix='Metadata/meta_Books_file'
for file_no in range(1,35):
    meta_list.append(prefix + str(file_no).zfill(4) + '.csv')
    
#CDs
prefix='Metadata/meta_CDs_and_Vinyl_file'
for file_no in range(1,6):
    meta_list.append(prefix + str(file_no).zfill(4) + '.csv')

#electronics
prefix='Metadata/meta_electronics_file'
for file_no in range(1,7):
    meta_list.append(prefix + str(file_no).zfill(4) + '.csv')

#Kindle
prefix='Metadata/meta_Kindle_store_file'
for file_no in range(1,7):
    meta_list.append(prefix + str(file_no).zfill(4) + '.csv')
    
#Movies_and_TV
prefix='Metadata/meta_Movies_and_TV_file'
for file_no in range(1,5):
    meta_list.append(prefix + str(file_no).zfill(4) + '.csv')

In [10]:
#concats a list of smaller metadata datafames

meta_concat_list=[]


for file in meta_list:
    df = pd.read_csv(file)
    meta_concat_list.append(df)

In [11]:
#concats a single metadata dataframe, de-dupes

meta_df = pd.concat(meta_concat_list)

print(len(meta_df))

meta_df.drop_duplicates(inplace=True)

print(len(meta_df))

560000
498064

In [47]:
#merges the reviews df with the metadata df

amazon_data = all_reviews.merge(meta_df, how='left', left_on='asin', right_on='ASIN')

In [49]:
amazon_data = amazon_data.drop('ASIN', axis=1)

In [19]:
test_bucket = []

for i in range(100):
    
    test_bucket.append(random.randint(0, 11679144))

In [37]:
possible_fakes = amazon_data[amazon_data['overall']==5]

In [48]:
amazon_data.groupby(['category']).count()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime,ASIN,Title,Sale Rank
category,,,,,,,,,,,,
Apps for Android,752934,752934,752934,752924,752934,752934,694722,752906,752934,615750,0,0
Books,7139000,7139000,7139000,7138526,7139000,0,0,0,0,6335507,4903022,0
CDs and Vinyl,327759,327759,327759,327748,327759,327759,326635,327740,327759,257201,166810,255726
Electronics,1493863,1493863,1493863,1492902,1493863,1493863,1469941,1493849,1493863,1490734,1446947,280829
Kindle Store,981803,981803,981803,981781,981803,981803,977989,981802,981803,955463,199,121
Movies and TV,983785,983785,983785,983741,983785,983785,980143,983766,983785,675558,428862,663656