In [1]:
import pandas as pd
import numpy as np
import ast 
import json
import time

In [3]:
#makes a data frame of the reviews, minus the books

no_books_reviews_df = pd.read_csv('reviews (no books).csv')

In [4]:
#Generates a list of all book review files names

book_prefix='Book Reviews/reviews_books_'
book_review_files = []

for file_no in range(1,3001):
    book_review_files.append(book_prefix + str(file_no).zfill(4) + '.csv')

In [5]:
#Generates a list of data frames to concatenate

i = 0
book_concat_list=[]


for file in book_review_files:
    df = pd.read_csv(file)
    book_concat_list.append(df)
    i += 1
    
    if i % 100 == 0:
        print(file)

Book Reviews/reviews_books_0100.csv
Book Reviews/reviews_books_0200.csv
Book Reviews/reviews_books_0300.csv
Book Reviews/reviews_books_0400.csv
Book Reviews/reviews_books_0500.csv
Book Reviews/reviews_books_0600.csv
Book Reviews/reviews_books_0700.csv
Book Reviews/reviews_books_0800.csv
Book Reviews/reviews_books_0900.csv
Book Reviews/reviews_books_1000.csv
Book Reviews/reviews_books_1100.csv
Book Reviews/reviews_books_1200.csv
Book Reviews/reviews_books_1300.csv
Book Reviews/reviews_books_1400.csv
Book Reviews/reviews_books_1500.csv
Book Reviews/reviews_books_1600.csv
Book Reviews/reviews_books_1700.csv
Book Reviews/reviews_books_1800.csv
Book Reviews/reviews_books_1900.csv
Book Reviews/reviews_books_2000.csv
Book Reviews/reviews_books_2100.csv
Book Reviews/reviews_books_2200.csv
Book Reviews/reviews_books_2300.csv
Book Reviews/reviews_books_2400.csv
Book Reviews/reviews_books_2500.csv
Book Reviews/reviews_books_2600.csv
Book Reviews/reviews_books_2700.csv
Book Reviews/reviews_books_2800.csv
Book Reviews/reviews_books_2900.csv
Book Reviews/reviews_books_3000.csv

In [6]:
#Concats a single book reviews dataframe

book_reviews_df = pd.concat(book_concat_list)

book_reviews_df['category'] = 'Books'

In [7]:
#concats books and no books review dataframes

concat_list = [no_books_reviews_df, book_reviews_df]

all_reviews = pd.concat(concat_list)

In [9]:
#creates list of all file names containing the meta data

meta_list = []

# apps
#prefix='Metadata/meta_Apps_for_Android_file'
#for file_no in range(1,2):
#    meta_list.append(prefix + str(file_no).zfill(4) + '.csv')

#books
prefix='Metadata/meta_Books_file'
for file_no in range(1,35):
    meta_list.append(prefix + str(file_no).zfill(4) + '.csv')
    
#CDs
prefix='Metadata/meta_CDs_and_Vinyl_file'
for file_no in range(1,6):
    meta_list.append(prefix + str(file_no).zfill(4) + '.csv')

#electronics
#prefix='Metadata/meta_electronics_file'
#for file_no in range(1,7):
#    meta_list.append(prefix + str(file_no).zfill(4) + '.csv')

#Kindle
#prefix='Metadata/meta_Kindle_store_file'
#for file_no in range(1,7):
#    meta_list.append(prefix + str(file_no).zfill(4) + '.csv')
    
#Movies_and_TV
#prefix='Metadata/meta_Movies_and_TV_file'
#for file_no in range(1,5):
#    meta_list.append(prefix + str(file_no).zfill(4) + '.csv')

In [10]:
#concats a list of smaller metadata datafames

meta_concat_list=[]


for file in meta_list:
    df = pd.read_csv(file)
    meta_concat_list.append(df)

In [11]:
#concats a single metadata dataframe, de-dupes

meta_df = pd.concat(meta_concat_list)

print(len(meta_df))

meta_df.drop_duplicates(inplace=True)

print(len(meta_df))

390000
390000

In [12]:
#merges the reviews df with the metadata df

amazon_data = all_reviews.merge(meta_df, how='left', left_on='asin', right_on='ASIN')

In [13]:
#Drop 'ASIN' from the right column

#Some reviews will still have no metadata

amazon_data = amazon_data.drop('ASIN', axis=1)

In [14]:
len(amazon_data)

4821622

In [15]:
amazon_data.groupby(['category']).count()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime,Title,Sale Rank
category,,,,,,,,,,,
Books,3000000,3000000,3000000,2999753,3000000,0,0,0,0,2539170,0
CDs and Vinyl,327759,327759,327759,327748,327759,327759,326635,327740,327759,166810,255726
Electronics,1493863,1493863,1493863,1492902,1493863,1493863,1469941,1493849,1493863,0,0